.tags{
    margin-left:10px;
    background-color: #fff !important;
    border-color: #c2e7b0 !important;
    color: #67c23a !important;
  }

  .green{
      color: green;
  }

  .red{
      color: red;
  }
