.custom-table {
  width: 100%;
  tr {
    border: 1px solid #eee;
    td {
      border-right: 1px solid #eeeeee;
      border: 0;
      &:nth-child(2n-1) {
        font-weight: 500;
      }
      &:last-child {
        border-right: 0;
      }
    }
  }
  th {
    border: 1px solid #fbfbfb;
    //border-bottom: 1px solid #fbfbfb;
    background: #ffffff;
  }
}

.card-body{
  height: 80px;
}
.mt-0{
  line-height: 0.8;
  margin-bottom: 0.1em;
}
.contain{
    min-height: 600px;
    // padding: 10px 20px 20px;
}
.tables{
  padding: 15px;
  background: #fff;
 // width: 50%;
  height: 20%;
  float: left;
  border-collapse: collapse;
  line-height: 1.05;
  width: 50%;
  float: left;
  padding-top: 50px;
}

.table td{
  padding: 5px;

}

.card{
  // background-color: #f3f1f1;
  background-color: white;
  border: 0px solid rgba(0, 0, 0, 0.125) ;
}

// .card :hover{
//   background-color: #dedbdb;
// }

.mb-0{
  color: #314659;
    font-size: 28px;
    margin-top: 10px;
  overflow:hidden;
   white-space:nowrap;
   text-overflow:ellipsis;
  //  width: 200px;
   text-align: center;
}



.chart{
  padding: 10px;
  background: #fff;
  bottom: 5px;
  width: 100%;
  float: left;
}

.metrichart{
  padding-top: 100px;
  height: 400px;
//  float: left;
  width: 100%;
}

.leftChart{
  width: 50%;
  float: right;
}
.rightChart{
  width: 50%;
  float: left;
}
.refresh{
    float: right;
    background-color: rgb(242, 242, 242) !important;
    border-color:rgb(242, 242, 242) !important;
  }
.refresh:hover{
    background:#C4C6CF !important;
    background-color:#FFFFFF !important;
}
.circle {
//   border-radius: 50%;
//   width: 20px;
//   height: 20px;
//   animation: thecolorsduke 2s infinite;
//   -webkit-animation: thecolorsduke 2s infinite;
}
.custom-table thead {
  display: none;
}
.circle div {
  display: none; /*默认隐藏*/
}

.circle:hover div {
  display: initial; /*当鼠标hover时展示*/
}
.circleStop {
 // border-radius: 50%;
  width: 15px;
  height: 20px;
//   animation: stopconsumber 2s infinite;
//   -webkit-animation: stopconsumber 2s infinite;
}
.circleStop div {
  display: none; /*默认隐藏*/
}

.circleStop:hover div {
  display: initial; /*当鼠标hover时展示*/
}
.yellowcricle {
//   border-radius: 50%;
//   animation: yellowconsumber 2s infinite;
//   -webkit-animation: yellowconsumber 2s infinite;
}

.onMeous span {
  display: none; /*默认隐藏*/
}

.onMeous:hover span {
  display: initial; /*当鼠标hover时展示*/
}
.yellowcricle div {
  display: none; /*默认隐藏*/
}

.yellowcricle:hover div {
  display: initial; /*当鼠标hover时展示*/
}

@keyframes yellowconsumber {
  0% {
    background: #ffc107;
  }
  20% {
    background: #FFC71F;
  }
  40% {
    background: #FFCD38;
  }
  60% {
    background: #FFD351;
  }
  80% {
    background: #FFD96A;
  }
  100% {
    background: #FFE083;
  }
}


@keyframes stopconsumber {
  0% {
    background: #ff3b1f;
  }
  20% {
    background: #ff2e16;
  }
  40% {
    background: #ff1d0b;
  }
  60% {
    background: #ff0000;
  }
  80% {
    background: #f40000;
  }
  100% {
    background: #ea0000;
  }
}


@keyframes thecolorsduke {
  0% {
    background: #40a339;
  }
  20% {
    background: #379b32;
  }
  40% {
    background: #2d932a;
  }
  60% {
    background: #228b22;
  }
  80% {
    background: #15831a;
  }
  100% {
    background: #017b10;
  }
}
