.redcircle {
    border-radius: 50%;
    width: 9px;
    height: 9px;
    background-color: #ff3b1f
  }

  .greencircle {
    border-radius: 50%;
    width: 9px;
    height: 9px;
    background-color: #40a339
  }