<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<h3>Dear Kafka Center Administrator:</h3>
	<h2 style="width: 100%; text-align: center;">Kafka topic <a th:href="@{${taskInfo.approveURL}+'/#/approve'}"><span th:text="${taskInfo.topicName}"></span></a> Apply for approval.</h2>
	<br>
	<h2 style="width: 100%; text-align: center;">Please Process it.</h2>
	<br>
	<div style="width: 200px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); text-align: center; float: left; margin-right: 10px; padding: 5px; padding-top: 15px;">
		<div style="background-color: #4caf50; color: #fff; padding: 10px; font-size: 15px; height: 60px;">
			<p><a title="info" style="cursor: pointer; color: white">Task Detail</a></p>
		</div>
		<div style="padding: 10px;">
			<p>Owner：<span th:text="${taskInfo.owner}"></span></p>
			<p>TopicName：<span th:text="${taskInfo.topicName}"></span></p>
			<p>Location：<span th:text="${taskInfo.location}"></span></p>
			<p>Message Rate：<span th:text="${taskInfo.messageRate}"></span></p>
			<p>Partition：<span th:text="${taskInfo.partition}"></span></p>
			<p>Replication：<span th:text="${taskInfo.replication}"></span></p>
			<p>TTL：<span th:text="${taskInfo.ttl}"></span></p>
			<p style="color: orange; word-wrap: break-word; font-weight: bold;">Comments：<span th:text="${taskInfo.comments}"></span></p>
		</div>
	</div>
	<br>
	<br>
	<br>
	<div style="font-size: 15px;">
	    <small>Best Regards</small>
		<div><b>CN XAEC Bigdata</b></div>
		<div style="margin: 18px 0;">
			<pre style="font-size: 8pt; font-family: Consolas; margin: 0;"> _  __      __ _            _____           _            
| |/ /     / _| |          / ____|         | |           
| ' / __ _| |_| | ____ _  | |     ___ _ __ | |_ ___ _ __ 
|  < / _` |  _| |/ / _` | | |    / _ \ '_ \| __/ _ \ '__|
| . \ (_| | | |   < (_| | | |___|  __/ | | | ||  __/ |   
|_|\_\__,_|_| |_|\_\__,_|  \_____\___|_| |_|\__\___|_|
			</pre>
		</div>
	</div>
</body>
</html>