.HierarchicalForm {
    width: 568px;
    max-width: 100%;
    margin: 0 auto;
  }
  
  .HierarchicalBlock {
    margin-top: 10px;
    padding: 10px;
    background: #f5f5f5;
  }
  
  .Card {
    border: none;
  }
  
  .Button {
    min-width: 84px;
  }

  .simpleFormDialog { 
      width: 830px
    }


    .AddButton{
       margin-bottom: 5px;

    }

.AddDialog{
  width: 400px;
}
.loading {
  width: 100%,
}
.query{
  // background-color: #4a4949;
  // color: #f5f5f5  !important;
}