.rateIcon {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(https://img.alicdn.com/tfs/TB1E.8ZvebviK0jSZFNXXaApXXa-92-90.png) 50% 50% no-repeat;
    background-size: contain;
}

.compare {
    margin-left: 15px;
    > span + span {
        margin-left: 5px;
    }
}

.header {
    height: 58px;
    margin-right: 30px;
    .totle_font {
        margin-left: 2px;
        color: #9B9EA0;
        font-size: 12px;
    }
    .title {
        height: 33px;
        color: #333;
        font-weight: bold;
        font-size: 28px;
        letter-spacing: 0;
    }
    .compare {
        height: 17px;
        margin-left: 15px;
        color: #9B9EA0;
        font-size: 12px;
        letter-spacing: 0;
        > span + span {
            margin-left: 5px;
            font-weight: bold;
        }
    }
}