.box {
  height: 188px;
  background: #fff;
  border-radius: 5px;
  .content {
    height: 91px;
    
    .value {
      color: #333;
      font-weight: bold;
      font-size: 28px;
      line-height: 28px;
    }
    .name {
      color: #999;
      font-size: 12px;
    }
    .des {
      color: #999;
      font-size: 12px;
      .rise {
        color: #D23C26;
      }
      .fall {
        color: #36CFC9;
      }
    }
  }
}
