.ice-design-layout-footer {
  background-color: transparent;
}

.ice-design-layout-footer-body {
  width: 100%;
  margin: 20px auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  bottom: 0px;
  align-items: center;
  line-height: 36px;
  padding-bottom: 0px;
  height: 50px;
  .copyright {
    color: #666;
    line-height: 1.5;
    font-size: 12px;
    text-align: left;
  }
  .copyright-link {
    color: #666;
  }
}
